@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background: linear-gradient(89deg, #b9b2b8 0%, #589cd3 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
